<a href="https://colab.research.google.com/github/roldugina/data_analysis_projects/blob/main/reading_files/Reading_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import sqlite3
from sqlite3 import OperationalError

In [14]:
conn=sqlite3.connect('sakila.sql')

In [15]:
cur=conn.cursor()

In [16]:
sql_query = """SELECT name FROM sqlite_master
  WHERE type='table';"""

In [17]:
cur.execute(sql_query)

In [1]:
print(cur.fetchall())

NameError: name 'cur' is not defined

In [ ]:
import sqlite3
from sqlite3 import OperationalError

conn = sqlite3.connect('csc455_HW3.db')
c = conn.cursor()

# Open and read the file as a single buffer
fd = open('ZooDatabase.sql', 'r')
sqlFile = fd.read()
fd.close()

# all SQL commands (split on ';')
sqlCommands = sqlFile.split(';')

# Execute every command from the input file
for command in sqlCommands:
    # This will skip and report errors
    # For example, if the tables do not yet exist, this will skip over
    # the DROP TABLE commands
    try:
        c.execute(command)
    except OperationalError, msg:
        print "Command skipped: ", msg